/* Estilos do header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

header .header__left {
  max-width: 62rem;
  flex: 1;
}

header .header__left p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 50rem;
}

header .header__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header .header__right .header__image {
  position: relative;
  width: 50%;
  height: 400px; /* Ajuste a altura conforme necessário */
  overflow: hidden;
  line-height: 0;
}

header .header__right .header__image::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  border-radius: 0.5rem;
  z-index: -1;
}

/* Slideshow e animação */
.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 1s ease-in-out;
  z-index: 0; /* Padrão, as imagens começam atrás umas das outras */
}

.slideshow img:nth-child(1) {
  animation: fade 24s infinite;
  animation-delay: 0s;
}

.slideshow img:nth-child(2) {
  animation: fade 24s infinite;
  animation-delay: 3s;
}

.slideshow img:nth-child(3) {
  animation: fade 24s infinite;
  animation-delay: 6s;
}

.slideshow img:nth-child(4) {
  animation: fade 24s infinite;
  animation-delay: 9s;
}

.slideshow img:nth-child(5) {
  animation: fade 24s infinite;
  animation-delay: 12s;
}

.slideshow img:nth-child(6) {
  animation: fade 24s infinite;
  animation-delay: 15s;
}

.slideshow img:nth-child(7) {
  animation: fade 24s infinite;
  animation-delay: 18s;
}

.slideshow img:nth-child(8) {
  animation: fade 24s infinite;
  animation-delay: 21s;
}

/* Definindo a animação de fade */
@keyframes fade {
  0%, 12.5% {
    opacity: 1;
    z-index: 1; /* Tornar visível e trazer para frente */
  }
  12.5%, 100% {
    opacity: 0;
    z-index: 0; /* Esconder a imagem e colocar para trás */
  }
}

/* Responsividade */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }

  header .header__right {
    justify-content: center; /* Alinhar o slideshow ao centro em telas pequenas */
  }

  header .header__right .header__image {
    height: 300px; /* Ajuste a altura para telas pequenas, se necessário */
  }
}